@import 'src/assets/scss/colors';

.content-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  max-width: 100%;
  background-color: $blue900;
  height: 100%;

  &.center {
    justify-content: center;
    align-items: center;
  }
}
